@using WeldingJobTrackerWebApp.Models.ViewModels.ViewTeam;
@model DetailTeamViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Team Page";
}

<div class="container">
    <div class="row">
        <div class="col">Team name: </div>
        <div class="col">@Model.Name</div>
    </div>
    <div class="row">
        <div class="col">Lead: </div>
        <div class="col">@Model.Admin.LastName, @Model.Admin.FirstName</div>
    </div>
    <div class="row">
        <div class="col">Welder: </div>
        <div class="col">@Model.Welder.LastName, @Model.Welder.FirstName</div>
    </div>
</div>
